<%- include('../../partials/header'); %>
<%- include('../../partials/navbar'); %>

<div class="container">
    <% const canManageUsers = canAccess(PERMISSIONS.MANAGE_USERS); %>
    <hr>
    <h2>Users</h2>
    <% if (canManageUsers) { %>
        <a class="btn btn-success" href="/admin/users/create">Create User</a>
    <% } %>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <% if (canManageUsers) { %>
                    <th>Actions</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((listedUser) => { %>
                <tr>
                    <td><%= listedUser.id %></td>
                    <td><%= listedUser.email %></td>
                    <% if (canManageUsers) { %>
                        <td>
                            <a class="btn btn-primary" href="/admin/users/edit/<%= listedUser.id %>">Edit</a>
                            <a class="btn btn-danger" href="/admin/users/delete/<%= listedUser.id %>">Delete</a>
                        </td>
                    <% } %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include("../../partials/footer") %>
