<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container">
    <hr>
    <h2>Users</h2>
    <a class="btn btn-success" href="/admin/users/create">Create User</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td>
                        <a class="btn btn-primary" href="/admin/users/edit/<%= user.id %>">Edit</a>
                        <a class="btn btn-danger" href="/admin/users/delete/<%= user.id %>">Delete</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include("../partials/footer") %>